* {
  margin: 0px;
  padding: 0px;
  font-family: font-all; }

html {
  font-size: 62.5%; }

/* FONTS */
@font-face {
  font-family: "subtitle";
  src: url("../fonts/Poppins.ttf"); }

@font-face {
  font-family: "font-all";
  src: url("../fonts/OpenSans-Light.ttf"); }

h1 {
  font-size: 5em;
  text-align: center;
  border-bottom: 2px solid #187795; }

h2 {
  font-size: 2.5em;
  color: #187795;
  font-weight: bolder; }

h3 {
  font-size: 2em; }

p,
label {
  font-size: 1.5em; }

a {
  font-size: 1.8em; }

/* --- */
/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto auto;
  background-color: white; }

header {
  grid-row: 1/2;
  grid-column: 1/5; }

main {
  grid-row: 2/3;
  grid-column: 1/5;
  min-height: 100vh;
  animation: opacityAnimate 1s; }

aside {
  grid-row: 3/4;
  grid-column: 1/5; }

footer {
  grid-row: 4/5;
  grid-column: 1/5; }

/* --- */
/* --- */
/* LOGO */
.logo {
  width: 100px;
  height: 100px;
  margin-left: 2.5rem; }

/* --- */
/* BUTTONS */
.btn-a {
  display: block;
  padding-top: 3rem; }
  .btn-a a {
    background-color: #2589BD;
    padding: 2rem;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    transition: all 0.5s; }
  .btn-a a:hover {
    background-color: #328cbd;
    box-shadow: 0px 0px 5px 2px #1584bf; }

/* --- */
/* INICIO HEADER */
header {
  width: 100%; }
  header nav {
    background-color: #8ec5d6;
    overflow: hidden; }
    header nav .nav-label {
      display: none;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      cursor: pointer;
      font-size: 1.8em; }
    header nav .nav-checkbox {
      width: 100%;
      display: none; }
    header nav .listNav {
      width: 100%;
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      header nav .listNav__item {
        flex-basis: 10%; }
        header nav .listNav__item a {
          padding: 0.8rem;
          display: block;
          background-color: #8ec5d6;
          text-decoration: none;
          color: white;
          transition: all 0.5s; }
        header nav .listNav__item a:hover {
          background-color: #65b7d0; }

.header--padding {
  padding-top: 1rem;
  padding-bottom: 1rem; }

#header-logo {
  display: flex;
  flex-direction: row;
  padding: .5rem;
  column-gap: 3rem; }
  #header-logo .header-logo__text {
    flex-basis: 80%;
    text-align: center;
    line-height: 100px;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-weight: bolder; }

/* FIN HEADER */
/* Inicio */
#section-1 .containSub-1 {
  text-align: center;
  background-image: url(../img/piscinaS1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  #section-1 .containSub-1 #backdrop {
    padding: inherit;
    backdrop-filter: blur(1.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem; }
  #section-1 .containSub-1__text {
    color: white;
    font-size: 4em;
    text-align: center;
    animation: animateText 10s linear;
    animation-iteration-count: infinite; }

#section-1 .containSub-2 {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #187795;
  background-position: 50% 40%;
  text-align: center;
  border-radius: 0 0 50px 50px; }
  #section-1 .containSub-2__h2 {
    padding: 5rem;
    font-size: 2.5em;
    color: white;
    letter-spacing: 4px; }
  #section-1 .containSub-2__text {
    line-height: 40px;
    font-size: 2.5em;
    margin-bottom: 2rem; }
  #section-1 .containSub-2__text--bold {
    font-weight: bold; }
  #section-1 .containSub-2__text--white {
    color: white; }

#section-2 {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  #section-2 .target__img {
    position: relative;
    overflow: hidden; }
    #section-2 .target__img .ventana {
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -100%;
      transition: all .7s; }
    #section-2 .target__img img {
      width: 100%;
      height: 100%;
      display: block; }
    #section-2 .target__img .ventana1 {
      background-image: url(../img/PISCINAS_Area.jpg); }
    #section-2 .target__img .ventana2 {
      background-image: url(../img/BDI_Area.jpg); }
    #section-2 .target__img .ventana3 {
      background-image: url(../img/H_Area.jpg); }
  #section-2 .target__img:hover .ventana {
    margin: 0; }
  #section-2 .target__description {
    text-align: center; }
    #section-2 .target__description h3 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.331);
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0 1rem 0 1rem; }
    #section-2 .target__description p {
      padding-top: 0.5rem;
      font-size: 2.5em; }

#btn-targets {
  text-align: center; }
  #btn-targets a {
    box-sizing: border-box; }

/* INICIO ASIDE */
aside {
  background-image: url(../img/aside.jpg);
  background-size: cover;
  background-position-x: 70%;
  background-position-y: center;
  text-align: center;
  background-attachment: fixed; }
  aside .ubication {
    backdrop-filter: blur(2px);
    padding-top: 5rem;
    box-sizing: border-box;
    transition: all 0.5s;
    padding-bottom: 4rem; }
    aside .ubication__icon {
      width: 70px;
      fill: #187795; }
    aside .ubication__text {
      font-size: 2.5em;
      margin-top: 2.5rem;
      font-weight: bold; }
    aside .ubication iframe {
      margin-top: 3rem;
      border-radius: 15px;
      width: 50%; }
  aside .ubication:hover {
    backdrop-filter: blur(0px); }

/* FIN ASIDE */
/*Fin Inicio*/
/*Contacto*/
#main-contact {
  background-color: white; }

#contactSection-1 {
  padding-top: 4rem; }
  #contactSection-1 .contain-form {
    text-align: center; }
    #contactSection-1 .contain-form__h2 {
      padding: 2rem 0 2rem 0;
      border-bottom: 1px solid #8ec5d6;
      background-color: #8ec5d678; }
    #contactSection-1 .contain-form #content-form {
      border: 1px solid #8ec5d6;
      box-shadow: 0px 0px 5px 0px #8ec5d6;
      width: 60%;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 4rem; }
      #contactSection-1 .contain-form #content-form .form__input {
        padding: 0.5rem;
        outline: none; }
      #contactSection-1 .contain-form #content-form .form__input:focus {
        background-color: #8ec5d63c; }
      #contactSection-1 .contain-form #content-form .form__label {
        text-align: left;
        padding-bottom: .7rem; }
      #contactSection-1 .contain-form #content-form .form__textarea {
        resize: none; }
      #contactSection-1 .contain-form #content-form .form__submit {
        padding: 1rem;
        width: 100px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        margin: auto;
        background-color: #b9deec;
        border: none;
        transition: all 0.5s; }
      #contactSection-1 .contain-form #content-form .form__submit:hover {
        box-shadow: 0px 0px 5px 1px #7adafd inset; }

/*Fin Contacto*/
/* media queries */
@media (max-width: 1024px) {
  #content-form {
    width: 80%; } }

/* MANTENIMIENTO  */
#maintenanceSection-1 {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  #maintenanceSection-1 p {
    line-height: 30px;
    font-weight: 600;
    margin-top: 4rem; }
  #maintenanceSection-1 .content-video {
    margin-top: 3rem; }
    #maintenanceSection-1 .content-video video {
      display: block;
      width: 50%;
      margin: auto; }

#maintenanceSection-2 {
  background-image: url(../img/mantenimiento.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem; }
  #maintenanceSection-2 .maintenance-cards {
    background-color: rgba(0, 0, 0, 0.1); }
    #maintenanceSection-2 .maintenance-cards .maintenance-card__h3 {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 3rem; }
    #maintenanceSection-2 .maintenance-cards .maintenance-card__text {
      margin-bottom: 2rem;
      line-height: 25px;
      font-weight: 600; }
    #maintenanceSection-2 .maintenance-cards .maintenance-card__list__item {
      line-height: 35px;
      font-size: 1.5em; }

/* --- */
/* NOSOTROS */
.companySection-1 {
  padding-top: 4rem; }
  .companySection-1 h2 {
    padding-bottom: 1.5rem;
    padding-top: 5rem; }
  .companySection-1 p {
    line-height: 30px;
    word-spacing: 5px; }

.companySection-2 {
  padding: 2rem 0 2rem 0; }
  .companySection-2__h2 {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .companySection-2__article {
    margin-top: 2rem; }
    .companySection-2__article__box-articles {
      margin: 2rem 0 2rem 0; }
      .companySection-2__article__box-articles h3 {
        margin: .5rem 0 .5rem 0; }
      .companySection-2__article__box-articles p {
        line-height: 30px; }

.companySection-3 {
  padding-bottom: 5rem;
  background: linear-gradient(90deg, #0b0979 0%, #0745a1 84%, #0569b8 100%); }
  .companySection-3 .securities-h2 {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
    font-size: 4em;
    color: white; }
  .companySection-3 .securities-card__h3 {
    text-align: center;
    padding-bottom: 3rem;
    color: white; }
  .companySection-3 .securities-card__icon {
    width: 70px;
    color: white;
    margin: auto;
    text-align: center;
    padding: 2rem 0 2rem 0; }
  .companySection-3 .securities-card__icon > svg:hover {
    color: #cbe6f5; }
  .companySection-3 .securities-card__text {
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    word-spacing: 5px;
    width: 85%;
    margin: auto; }

.carousel, .carousel .carousel-inner, .carousel .carousel-inner .carousel-item, .carousel .carousel-inner .carousel-item img {
  height: 65vh; }
  .carousel .carousel-inner .carousel-item, .carousel .carousel-inner .carousel-item img .carousel-inner .carousel-item {
    object-fit: cover; }

/* --- */
/*  PRODUCTO  */
#contain-products {
  padding-top: 4rem; }
  #contain-products .products__card {
    margin-top: 6rem;
    margin-bottom: 6rem; }
    #contain-products .products__card__h2 {
      background-color: #187795;
      padding: 1rem;
      color: white; }
    #contain-products .products__card__imgs {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      grid-template-rows: 1fr min-content;
      gap: 1rem;
      margin-top: 2rem; }
  #contain-products .products .box-img {
    text-align: center;
    border: 2px solid #8ec5d6;
    transition: all 0.5s;
    display: flex;
    flex-direction: column; }
    #contain-products .products .box-img div {
      flex-basis: 90%; }
    #contain-products .products .box-img p {
      font-weight: 600;
      background-color: #8ec5d6;
      box-sizing: border-box;
      padding-top: 1rem;
      padding-bottom: 1rem;
      flex-basis: 10%;
      margin: 0; }
    #contain-products .products .box-img img {
      width: 100%;
      height: 100%;
      display: block; }
  #contain-products .products .box-img:hover {
    border: 2px solid #3698d1; }

/* -- */
/* INICIO FOOTER */
footer {
  padding-top: 1rem;
  border-top: 2px solid #187795; }
  footer #footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    footer #footer-flex .networks {
      text-align: center;
      box-sizing: border-box;
      margin-top: 0px;
      padding-top: 1rem; }
      footer #footer-flex .networks__h3 {
        font-size: 2em;
        color: white; }
      footer #footer-flex .networks__icons {
        padding-left: 2.5rem; }
        footer #footer-flex .networks__icons .redes {
          width: 50px;
          padding: 1rem 1rem 0 1rem;
          float: left;
          transition: all 0.5s; }
        footer #footer-flex .networks__icons #facebook {
          animation: icon1 4s ease-in-out infinite;
          animation-delay: 1s; }
        footer #footer-flex .networks__icons #instagram {
          animation: icon2 4s ease-in-out infinite;
          animation-delay: 2s; }
        footer #footer-flex .networks__icons #twitter {
          animation: icon3 4s ease-in-out infinite;
          animation-delay: 2.2s; }
        footer #footer-flex .networks__icons #facebook:hover {
          animation: none;
          fill: #0E8AF0;
          transform: scale(1.1);
          cursor: pointer; }
        footer #footer-flex .networks__icons #instagram:hover {
          animation: none;
          fill: #CD2E96;
          transform: scale(1.1);
          cursor: pointer; }
        footer #footer-flex .networks__icons #twitter:hover {
          animation: none;
          fill: #1D9BF0;
          transform: scale(1.1);
          cursor: pointer; }
      footer #footer-flex .networks #instagram {
        padding-top: 0.8rem; }
  footer .credits {
    clear: both;
    text-align: center;
    background-color: #187795;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white; }

/* FIN FOOTER */
/* animaciones */
@keyframes icon1 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1);
    fill: #0E8AF0;
    cursor: pointer; }
  100% {
    transform: scale(1); } }

@keyframes icon2 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1);
    fill: #CD2E96;
    cursor: pointer; }
  100% {
    transform: scale(1); } }

@keyframes icon3 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1);
    fill: #1D9BF0;
    cursor: pointer; }
  100% {
    transform: scale(1); } }

@keyframes opacityAnimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* media queries */
@media (max-width: 1024px) {
  /* global */
  #header-logo {
    column-gap: 3rem; }
    #header-logo .header-logo__text {
      line-height: 40px;
      padding-top: 1rem;
      word-spacing: 0px; }
  main p {
    font-size: 1.4em; }
  /* -- */
  /* contacto */
  #content-form {
    width: 80%; }
  /* -- */ }

@media (max-width: 768px) {
  /*global*/
  header nav .listNav__item {
    flex-basis: 15%; }
  /* -- */
  /* inicio */
  #contain-targets {
    flex-direction: column;
    row-gap: 6rem; }
  #section-2 .target__img {
    width: 70%; }
  /* -- */
  /* mantenimiento */
  #maintenanceSection-1 .content-video video {
    width: 100%; }
  /* -- */ }

@media (max-width: 480px) {
  /*global*/
  header nav .nav-label {
    display: block; }
  header nav .nav-checkbox:checked ~ .listNav {
    display: flex; }
  header nav .listNav {
    position: absolute;
    flex-direction: column;
    display: none;
    z-index: 1; }
  body {
    font-size: 8px; }
  #header-logo {
    flex-direction: column;
    align-items: center; }
    #header-logo .logo {
      margin: 0; }
  /* -- */
  /* inicio */
  #section-1 .containSub-1__text {
    padding-right: 1rem;
    padding-left: 1rem; }
  #section-1 .containSub-2__text {
    padding-right: 1rem;
    padding-left: 1rem; }
  #section-2 .target__description h3 {
    font-size: 2rem; }
  aside .ubication iframe {
    width: 80%; }
  /* -- */
  /* nosotros */
  #companySection-2 .securities-cards {
    flex-direction: column; }
    #companySection-2 .securities-cards .securities-card {
      margin-bottom: 5rem; }
      #companySection-2 .securities-cards .securities-card__h3 {
        margin-bottom: 0px; }
      #companySection-2 .securities-cards .securities-card__text {
        text-align: left; }
  /* -- */
  /* contacto */
  #contactSection-1 .contain-form #content-form {
    width: 100%; }
  /* */
  /* producto */
  #contain-products .products__card__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;
    gap: 1rem;
    margin-top: 2rem; }
  /* -- */ }
