/* INICIO FOOTER */
@mixin iconHover($red) {
    ##{$red}:hover{
                animation: none;
                transform: scale(1.1);
                cursor: pointer;
            };
}

@mixin styleIcon($color) {
    color: $color;
    cursor: pointer;
}

footer {
    padding-top: 1rem;
    border-top: 2px solid #187795;
    .content-footer{
        display: flex;
        flex-direction: row;
        gap: 6rem;
        .submenu{
            list-style-type: none;
            &__item{
                font-size: 1.5em;
                line-height: 20px;
                margin-bottom: 1rem;
                img{
                    width: 20px;
                    transition: all 1s;
                }
            }
            &__item:hover img{
                transform: rotate(360deg);
            }
            &__item-1{
                font-size: 1em;
                a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.5);
                }
                a:hover{
                    color:#187795 ;
                }
            }
        }
    }
    

    #footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .networks {
            text-align: center;
            box-sizing: border-box;
            margin-top: 0px;
            padding-top: 1rem;

            &__h3 {
                font-size: 2em;
                color: white;
            }

            &__icons {
                padding-left: 2.5rem;
                .redes {
                    width: 55px;
                    padding: 1rem 1rem 0 1rem;
                    float: left;
                    transition: all 0.5s;
                    img{
                        width: 100%;
                    }
                }

                #facebook {
                    animation: icon1 4s ease-in-out infinite;
                    animation-delay: 1s;
                }

                #instagram {
                    animation: icon2 4s ease-in-out infinite;
                    animation-delay: 2s;
                }

                #whatssap {
                    animation: icon3 4s ease-in-out infinite;
                    animation-delay: 2.2s;
                }
                @include iconHover(facebook);
                @include iconHover(instagram);
                @include iconHover(whatssap);
            }
        }
    }

    .credits {
        clear: both;
        text-align: center;
        background-color: #187795;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
    }
}

/* FIN FOOTER */