/* media queries */
$medias: (
    "laptop":1024px,
    "tablet":768px,
    "mobile":480px
);

@media (max-width:map-get($medias, "laptop")) {

    /* global */
    #header-logo {
        column-gap: 3rem;

        .header-logo__text {
            line-height: 40px;
            padding-top: 1rem;
            word-spacing: 0px;
        }
    }

    main p {
        font-size: 1.4em;
    }

    /* -- */

    /* contacto */
    #content-form {
        width: 80%;
    }

    /* -- */
}

@media (max-width:map-get($medias, "tablet")) {

    /*global*/
    header {
        nav {
            .listNav {
                &__item {
                    flex-basis: 15%;

                }
            }
        }
    }

    footer {
        font-size: 8px;

        .footer-logo {
            align-self: center;
            margin: 1rem 0 2rem 0;

            .logo {
                margin: 0;
            }
        }

        #footer-flex {
            flex-direction: column;

            .content-footer {
                gap: 0;
                margin-bottom: 2rem;

                .submenu {
                    flex-basis: 50%;
                    padding: 0;
                    margin: 0;
                }

            }

            .networks {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    }

    /* -- */

    /* inicio */
    #section-1 {
        .containSub-1 {
            #backdrop {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .containSub-2 {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    #contain-targets {
        flex-direction: column;
        row-gap: 6rem;
    }

    #section-2 {
        .target__img {
            width: 70%;
        }
    }

    /* -- */

    /* contacto */
    #contactSection-1 {
        padding-top: 4rem;

        .contain-form {
            #content-form {
                width: 100%;

                .form__flex {
                    .form {
                        padding: 1rem;
                    }
                }
            }
        }
    }

    /* -- */

    /* mantenimiento */
    #maintenanceSection-1 {
        .content-video {
            video {
                width: 100%;
            }
        }
    }


    /* -- */

    /* nosotros */
    .companySection-1{
        .carousel{
            height:40vh;
        }
    }
    /* -- */
}

@media (max-width:map-get($medias, "mobile")) {

    /*global*/
    header {
        nav {
            .nav-label {
                display: block;
            }
            .listNav {
                position: absolute;
                flex-direction: column;
                display: none;
                z-index: 1;

            }
            .nav-checkbox:checked~.listNav {

                display: flex;

            }
        }
    }

    body {
        font-size: 8px;
    }

    #header-logo {
        flex-direction: column;
        align-items: center;

        .logo {
            margin: 0;
        }
    }

    footer {
        #footer-flex {
            .footer-logo{
                display: none;
            }
            .content-footer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 1rem;
                gap: 2rem;
                .submenu:nth-of-type(1){
                    order: 1;
                }
            }
        }
    }

    /* -- */

    /* inicio */
    #section-1 {
        .containSub-1 {
            &__text {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }

        .containSub-2 {
            &__text {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }

    #section-2 {
        .target {
            &__description h3 {
                font-size: 2rem;
            }
        }
    }

    aside {
        .ubication {
            iframe {
                width: 80%;
            }
        }
    }

    /* -- */
    /* nosotros */
    .companySection-1{
        .carousel{
            height: 30vh;
        }
    }
    #companySection-2 {
        .securities-cards {
            flex-direction: column;

            .securities-card {
                margin-bottom: 5rem;

                &__h3 {
                    margin-bottom: 0px;
                }

                &__text {
                    text-align: left;
                }
            }
        }
    }

    /* -- */
    /* contacto */
    #contactSection-1 {
        .contain-form {
            #content-form {
                width: 100%;
                .form-flex{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding-bottom: 1rem;
                    .box-imgForm{
                        min-height: 310px;
                        flex-basis: 0;
                    }
                    .form{
                        width: 100%;
                    }
                }
            }
        }
    }

    /* */

    /* producto */
    #contain-products {
        .products {
            &__card {
                &__imgs {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr min-content;
                    gap: 1rem;
                    margin-top: 2rem;
                }
            }
        }
    }

    /* -- */

}